// * Главные стили

body,
html {
  height: 100%;
}

body {
  font-family: $mainFont;
  background-color: $white-color;

  // Запрещает прокрутку страницы при открытом модальном окне
  &.modal-open {
    overflow: hidden;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  padding: 0;
  margin: 0;
}

// Отзывчевые изображения
img,
picture,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

// Ссылки
a {
  text-decoration: none;
  color: inherit;
}

// Списки
ul,
ol {
  list-style: none;
}

// Кнопки
button {
  border: none;
  cursor: pointer;
}

// Фиксирует footer внизу страницы
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main-section {
  flex: 1 1 auto;
}
