<div class="backdrop backdrop--is-hidden" data-team>
  <div class="modal">
    <a class="team__link--logo" href="https://goit.ua/" target="_blank">
      <img src="./images/modal-team/goit-logo.png" alt="Logo of the GoIT company" />
    </a>
    <button class="modal__button--close" data-team-close>
      <svg class="modal__icon-close" width="14" height="14" aria-label="Закрытие модального окна">
        <use href="./images/modal/icons.svg#icon-close"></use>
      </svg>
    </button>

    <div class="team__container">
      <h2 class="team__title">
        The <span class="team__title team__title--accent">s</span>Witchers
      </h2>
      <ul class="team__list">
        <li class="team__member">
          <a class="member__link" href="https://github.com/Solomon-IT-Dev" target="_blank">
            <div class="member__picture">
              <img
                class="member__photo"
                src="./images/modal-team/roman.jpg"
                alt="Art of the man with balalaika"
              />
            </div>
            <div class="member__info">
              <h3 class="member__name">Roman</h3>
              <p class="member__description">Gang Lead</p>
            </div>
          </a>
        </li>

        <li class="team__member">
          <a class="member__link" href="https://github.com/Cocokringle" target="_blank">
            <div class="member__picture">
              <img
                class="member__photo"
                src="./images/modal-team/natasha.jpg"
                alt="Art of the woman with dark hair"
              />
            </div>
            <div class="member__info">
              <h3 class="member__name">Natasha</h3>
              <p class="member__description">Supreme Master of Scrum</p>
            </div>
          </a>
        </li>

        <li class="team__member">
          <a class="member__link" href="https://github.com/Kilkenni" target="_blank">
            <div class="member__picture">
              <img
                class="member__photo"
                src="./images/modal-team/vitalii.jpg"
                alt="Art of the man doing some magic"
              />
            </div>
            <div class="member__info">
              <h3 class="member__name">Vitalii</h3>
              <p class="member__description">Wizard Developer</p>
            </div>
          </a>
        </li>

        <li class="team__member">
          <a class="member__link" href="https://github.com/Sig1smund" target="_blank">
            <div class="member__picture">
              <img
                class="member__photo"
                src="./images/modal-team/igor1.jpg"
                alt="Atr of the man with swords"
              />
            </div>
            <div class="member__info">
              <h3 class="member__name">Igor</h3>
              <p class="member__description">Developer of Wolf School</p>
            </div>
          </a>
        </li>

        <li class="team__member">
          <a class="member__link" href="https://github.com/NikitaHolovan" target="_blank">
            <div class="member__picture">
              <img
                class="member__photo"
                src="./images/modal-team/nikita.jpg"
                alt="Atr of the man with swords and Baby Yoda"
              />
            </div>
            <div class="member__info">
              <h3 class="member__name">Nikita</h3>
              <p class="member__description">From Rivia</p>
            </div>
          </a>
        </li>

        <li class="team__member">
          <a class="member__link" href="https://github.com/o-ishchenko" target="_blank">
            <div class="member__picture">
              <img
                class="member__photo"
                src="./images/modal-team/olga.jpg"
                alt="Art of the woman with gray hair"
              />
            </div>
            <div class="member__info">
              <h3 class="member__name">Olga</h3>
              <p class="member__description">King Emgyr's Daughter</p>
            </div>
          </a>
        </li>

        <li class="team__member">
          <a class="member__link" href="https://github.com/inapolov" target="_blank">
            <div class="member__picture">
              <img
                class="member__photo"
                src="./images/modal-team/igor2.jpg"
                alt="Atr of the man with swords"
              />
            </div>
            <div class="member__info">
              <h3 class="member__name">Igor</h3>
              <p class="member__description">Normal Frontender</p>
            </div>
          </a>
        </li>
      </ul>
      <div class="service">
        <p class="service__text">Filmoteka was created using the service</p>
        <a class="service__link--logo" href="https://www.themoviedb.org" target="_blank">
          <img src="./images/modal-team/tmdb-logo.png" alt="Logo of the TMDB service" width="50" />
        </a>
      </div>
    </div>
  </div>
</div>