// * Variables for colors in SASS format

// Text colors
$color__text--primary: #000000;
$color__text--primary-lighten: #8c8c8c;
$color__text--secondary: #ffffff;
$color__text--additional: #ff6b08;
$color__text--notification: #ff001b;
$color__footer-text: #545454;

// Background colors
$bg-color__header: #000103;
$bg-color__header--additional: #1e0002;
$bg-color__main: #ffffff;
$bg-color__footer: #f7f7f7;

// Icon colors
$color__icon: #818181;
$color__icon--accent: #ff6b01;

// Objects colors
$color__object: #f7f7f7;
$color__object--accent: #ff6b08;

// Button colors
$color__btn: #ff6b01;
$color__btn-border: #ffffff;
$color__btn-border--darken: #000000;
$color__btn-shadow: rgba(255, 107, 1, 0.6);

// Classic colors (just in case)
$black-color: #000000;
$white-color: #ffffff;

// * Variables for text

// Font Family
$mainFont: 'Roboto', Helvetica, Arial, sans-serif;

// Font Weight
$hairline-weight: 100;
$thin-weight: 200;
$light-weight: 300;
$normal-weight: 400;
$medium-weight: 500;
$semibold-weight: 600;
$bold-weight: 700;
$xbold-weight: 800;
$heavy-weight: 900;

// Font Size
$text-xxs: 12px;
$text-xs: 14px;
$text-sm: 24px;
$text-md: 36px;
$text-xl: 48px;
$text-xxl: 56px;

// * Breakpoints

$phone: 320px;
$befor-tablet: 767px;
$tablet: 768px;
$befor-desktop: 1023px;
$desktop: 1024px;
