<footer class="">
    <div class="footer__container">
        <div class="upper-part-of-footer">
            <p class="footer_date">&#169 2020 | All Rights Reserved |</p>
        </div>

        <div class="bottom-of-footer">
            <p class="footer_info-about-developed">Developed with</p>
            <div class="heart_box">
                <div class="heart"></div>
            </div>
            <p class="footer_info-about-us">by <a href="#" class="footer_modal">GoIT Students</a></p>
            
            
        </div>

        
        
    </div>
</footer>