<main id="main">
  <section class="main-section">
    <div class="container">
      <div class="empty-library visually-hidden"><p>Your Library is currently empty</p></div>
      <ul class="films-list" data-modal-open>
      </ul>

      <!-- Контейнер для пагинации  -->
      <div id="tui-pagination-container" class="tui-pagination"></div>

      <!-- Кнопка скролла страницы -->
      <button class="btn__scroll" type="button" title="Return to top">
        <svg class="btn__icon-upward" width="17" height="17" aria-label="Upward scroll">
          <use href="./images/scroll/icon-arrow-up.svg#icon-arrow-up"></use>
        </svg>
      </button>
    </div>
  </section>
</main>
