<section class="main-section">
  <div class="container">
    <ul class="films-list">
      <li class="films-list__item">
        <a href="#~" class="films-list__link" data-modal-open>
          <div class="films-list__img">
            <img src="/images/main-section/Film1.jpg" alt="film 1" />
          </div>
          <div class="films-list__info">
            <h2 class="films-list__title">Greyhound</h2>
            <div class="films-list__box">
              <p class="films-list__genre">Drama, Action</p>
              <span class="films-list__year">2020</span>
              <span class="films-list__rating">8.0</span>
            </div>
          </div>
        </a>
      </li>
      <li class="films-list__item">
        <a href="" class="films-list__link">
          <div class="films-list__img">
            <img src="/images/main-section/Film2.jpg" alt="film 2" />
          </div>
          <div class="films-list__info">
            <h2 class="films-list__title">Monster hunter</h2>
            <div class="films-list__box">
              <p class="films-list__genre">Drama, Action</p>
              <span class="films-list__year">2020</span>
              <span class="films-list__rating visually-hidden">8.0</span>
            </div>
          </div>
        </a>
      </li>
      <li class="films-list__item">
        <a href="" class="films-list__link">
          <div class="films-list__img">
            <img src="/images/main-section/Film3.jpg" alt="film 3" />
          </div>
          <div class="films-list__info">
            <h2 class="films-list__title">ONCE UPON A TIME... IN HOLLYWOOD</h2>
            <div class="films-list__box">
              <p class="films-list__genre">Drama, Comedy</p>
              <span class="films-list__year">2019</span>
              <span class="films-list__rating visually-hidden">8.0</span>
            </div>
          </div>
        </a>
      </li>
      <li class="films-list__item">
        <a href="" class="films-list__link">
          <div class="films-list__img">
            <img src="/images/main-section/Film4.jpg" alt="film 4" />
          </div>
          <div class="films-list__info">
            <h2 class="films-list__title">LITTLE WOMEN</h2>
            <div class="films-list__box">
              <p class="films-list__genre">Drama</p>
              <span class="films-list__year">2019</span>
              <span class="films-list__rating">8.0</span>
            </div>
          </div>
        </a>
      </li>
      <li class="films-list__item">
        <a href="" class="films-list__link">
          <div class="films-list__img">
            <img src="/images/main-section/Film5.jpg" alt="film 5" />
          </div>
          <div class="films-list__info">
            <h2 class="films-list__title">AQUARELA</h2>
            <div class="films-list__box">
              <p class="films-list__genre">Documentary, Drama, Other</p>
              <span class="films-list__year">2019</span>
              <span class="films-list__rating">8.0</span>
            </div>
          </div>
        </a>
      </li>
      <li class="films-list__item">
        <a href="" class="films-list__link">
          <div class="films-list__img">
            <img src="/images/main-section/Film6.jpg" alt="film 6" />
          </div>
          <div class="films-list__info">
            <h2 class="films-list__title">DAVID CROSBY: REMEMBER MY NAME</h2>
            <div class="films-list__box">
              <p class="films-list__genre">Documentary, Drama, Other</p>
              <span class="films-list__year">2019</span>
              <span class="films-list__rating">8.0</span>
            </div>
          </div>
        </a>
      </li>
      <li class="films-list__item">
        <a href="" class="films-list__link">
          <div class="films-list__img">
            <img src="/images/main-section/Film7.jpg" alt="film 7" />
          </div>
          <div class="films-list__info">
            <h2 class="films-list__title">MOON</h2>
            <div class="films-list__box">
              <p class="films-list__genre">Sci-Fi, Action, Thriller</p>
              <span class="films-list__year">2010</span>
              <span class="films-list__rating">8.0</span>
            </div>
          </div>
        </a>
      </li>
      <li class="films-list__item">
        <a href="" class="films-list__link">
          <div class="films-list__img">
            <img src="/images/main-section/Film8.jpg" alt="film 8" />
          </div>
          <div class="films-list__info">
            <h2 class="films-list__title">A FISTFUL OF LEAD</h2>
            <div class="films-list__box">
              <p class="films-list__genre">Western</p>
              <span class="films-list__year">2019</span>
              <span class="films-list__rating">8.0</span>
            </div>
          </div>
        </a>
      </li>
      <li class="films-list__item">
        <a href="" class="films-list__link">
          <div class="films-list__img">
            <img src="/images/main-section/Film9.jpg" alt="film 9" />
          </div>
          <div class="films-list__info">
            <h2 class="films-list__title">BAD BOYS FOR LIFE</h2>
            <div class="films-list__box">
              <p class="films-list__genre">Action, Comedy</p>
              <span class="films-list__year">2020</span>
              <span class="films-list__rating">8.0</span>
            </div>
          </div>
        </a>
      </li>
    </ul>

    <!-- Контейнер для пагинации  -->
    <div id="tui-pagination-containter" class="tui-pagination"></div>
  </div>
</section>
