<!-- Кнопка для открытия модального окна -->
<a href="" class="modal-opener">Open modal</a>

<!-- Модальное окно -->
<!-- <div class="backdrop backdrop--is-hidden" data-modal> -->
<div class="modal">
  <button class="modal__button--close" data-modal-close>
    <svg class="modal__icon-close" width="14" height="14" aria-label="Закрытие модального окна">
      <use href="./images/modal/icons.svg#icon-close"></use>
    </svg>
  </button>

  <!-- Карточки команды -->
  <!-- <div class="team__container">
    <h2 class="team__title">The <span class="team__title--accent">s</span>Witchers</h2>
    <ul class="team__list">
      <li class="team__member">
        <a class="member__link" href="">
          <div class="member__picture">
            <picture>
              <source />
              <img src="" alt="" />
            </picture>
          </div>

          <div class="member__info">
            <h3 class="member__name">Roman</h3>
            <p class="member__description">Team Lead</p>
          </div>
        </a>
      </li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
</div> -->
  <!-- </div> -->
</div>
