.dark-body {
  @include transition(background-color);
  background-color: #0a0909;
}
.dark-footer {
  @include transition(background-color);
  background-color: #020203;
}
.inverse-text {
  @include transition(color);
  color: white;
}

.dark-modal-bg {
  @include transition(background-color);
  background-color: #3c3535;
}
.dark-modal-movie-btn{
  border: 1px solid white;
  color: white;
}
.dark-theme-btn {
  width: 30px;
  height: 30px;
  padding: 0;
  background-image: url(../images/header/sun.png);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  background-color: transparent;
  border-radius: 50%;
  border: none;
}
.dark-theme-btn-moon {
  background-image: url(../images/header/moon.png);
  background-repeat: no-repeat;
  background-position: center;
}
.dark-theme-btn:hover {
  @include transition(box-shadow);
  box-shadow: 0 8px 43px 0 $color__btn-shadow;
}
.dark-btn-scroll {
  background-color: transparent;
}
