.main-section {
  padding-top: 20px;
  padding-bottom: 40px;
}
.films-list {
  @include mq('tablet') {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}
.films-list__item {
  width: 100%;
  transform: scale(1);
  @include transition(transform);

  @include mq('tablet', max) {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
  @include mq('tablet') {
    margin: 15px;
    width: calc((100% - 60px) / 2);
  }
  @include mq('desktop') {
    width: calc((100% - 90px) / 3);
  }

  &:hover,
  &:focus {
    transform: scale(1.04);
  }
}
.films-list__img img {
  border-radius: 4px;
}
.films-list__info {
  padding-top: 10px;
}
.films-list__title,
.films-list__box {
  font-weight: $medium-weight;
  font-size: $text-xxs;
  line-height: 1;
}
.films-list__title {
  text-transform: uppercase;
  margin-bottom: 5px;
}
.films-list__box {
  display: flex;
  align-items: center;
}

.films-list__genre,
.films-list__year {
  color: $color__text--additional;
}
.films-list__genre {
  padding-right: 4px;
  border-right: 1px solid $color__text--additional;
}
.films-list__year {
  padding-right: 8px;
  padding-left: 4px;
}
.films-list__rating {
  padding: 1px 10px;
  color: $color__text--secondary;
  background-color: $color__icon--accent;
  line-height: 1.2;
  border-radius: 5px;
}
