.tui-pagination {
  //display: flex;
  //justify-content: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.tui-pagination .tui-is-selected,
.tui-pagination strong {
  background: #ff6b08;
  border-color: #ff6b08;
}

.tui-pagination .tui-first-child.tui-is-selected {
  border-left-color: #ff6b08;
}

.tui-pagination .tui-last-child.tui-is-selected {
  border-right-color: #ff6b08;
}
