.tui-pagination {
  //display: flex;
  //justify-content: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.tui-pagination .tui-is-selected,
.tui-pagination strong {
  background: $color__object--accent;
  border-color: $color__object--accent;
}

.tui-pagination .tui-first-child.tui-is-selected {
  border-left-color: $color__object--accent;
}

.tui-pagination .tui-last-child.tui-is-selected {
  border-right-color: $color__object--accent;
}

.tui-pagination .tui-is-selected:hover {
  background-color: $color__object--accent;
}
